
@media all {body {font-size: 16px;}}
@media all and (max-width:1000px){body {font-size: 16px;}}
@media all and (max-width:960px){body {font-size: 16px;}}
@media all and (max-width:920px){body {font-size: 16px;}}
@media all and (max-width:880px){body {font-size: 16px;}}
@media all and (max-width:840px){body {font-size: 16px;}}
@media all and (max-width:800px){body {font-size: 16px;}}
@media all and (max-width:760px){body {font-size: 16px;}}
@media all and (max-width:720px){body {font-size: 16px;}}
@media all and (max-width:680px){body {font-size: 16px;}}
@media all and (max-width:640px){body {font-size: 15px;}}
@media all and (max-width:600px){body {font-size: 14px;}}
@media all and (max-width:560px){body {font-size: 13px;}}
@media all and (max-width:520px){body {font-size: 12px;}}

@media all and (max-width:520px) {
    body{ font-size: 18px;}
}

html {
    height: 100%;
}
body {
    padding: 0rem 0em 0rem 0em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
   font-family: "Jockey One";
   font-style: normal;
   font-weight: 400;
   color:#333333;
}
pre
{
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;  
}
.content {
   text-align: left;
   display: inline-block;
   white-space: normal;
   vertical-align: top;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
    margin-left: 11.5rem;
    margin-right: 2.5rem;
}
.listing {
   text-align: left;
   display: inline-block;
   white-space: normal;
   vertical-align: top;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
    margin-left:  5rem;
    margin-right: 2.5rem;
        line-height: 1.3
}
.listing .date{
    font-size:90%;
    font-family: "Merriweather";
    float: left;
    width: 2rem;
    margin-left: -5rem;
    margin-top:0.2rem;
}
.listing .year{
    margin-left: -3rem;
    font-size:110%;
    font-family: "Merriweather";
}
.listing .month{
    margin-left: -3rem;
    font-size:90%;
    font-family: "Merriweather";
}
.listing .title{
    font-family: "Merriweather";
   font-weight: 400;
   font-style: normal;
   font-size:100%;
    white-space: nowrap;
   word-wrap:break-word;
        margin-left: 0.5rem;
}
.listing a{
    text-decoration: none;
    color: inherit;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.listing a:hover{
    text-decoration: none;
    color: inherit;
    background: #fbf3f3;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.wrapper {
  margin-left: 5rem;
}
.cleared {
  clear: both;
}
.content img {
    max-width: calc(100% + 11.5rem);
    display: block;
    margin-left: -10.5rem;
    margin-right: 0;
}
p {
   line-height: 1.3;
   font-family: "Merriweather";
   font-weight: 400;
   font-style: normal;
}
p.intro {
   font-size: 150%;
   line-height: 1.2;
}
p.pullquote {
   font-size: 80%;
   line-height: 1.6;
   padding-left: 1rem;
   border-width: 0px 0px 0px 3px;
   border-style: solid;
   font-family: "Merriweather";
   font-weight: 400;
   font-style: italic;
}
h1 {
   font-size: 300%;
   line-height: 1;
   color: rgba(51, 51, 51, 1);
   font-weight: 400;
   text-transform: uppercase;
   border-top:1px solid black;
}

p.inverse-big {
   background-color: rgba(51,51,51,1);
   color: rgba(255,255,255,1);
   padding: 2rem;
}

.content ul li {
list-style: none;
margin-left: 1.35rem;
padding-left: 1.15rem; 
margin-bottom: 0.7em;
font-size: 90%;
font-family: "Merriweather";
}

.content ul li:before {
font-family: FontAwesome;
content: "\f101"; 
float:left;
margin-left: -2.5rem;
margin-top: 0.1rem;
}

.content ol li {
margin-left: 1rem;
padding-left: 1rem; 
margin-bottom: 0.7em;
font-size: 90%;
font-family: "Merriweather";
}

table { 
    margin-bottom: 1.5em;
    border-collapse: collapse;
    width: 95%;
}
table tr + tr {
    border-top: 1px solid #ccc;
}
table td + td {
    border-left: 1px solid #ccc;
}
table td {
    padding: 0.4em;
    text-align: center;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    font-size: 85%;
    hyphens: none;
     font-family: "Merriweather";
}
table th {
    font-family: "Jockey One";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 95%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    line-height: 1.05;
    text-align: center;
}
.content a {
    background: #fbf3f3;
    text-decoration: none;
    color: inherit;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 8px;
}
.content a:hover {
    background: #fefafa;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.footer
{
    margin-top:120px;
   text-align: left;
   display: inline-block;
   white-space: normal;
   vertical-align: top;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    width: calc(100% - 5rem);
}
.footer a
{
     color:#9c9c9c;
     display:block;
}
.footer a:hover
{
     color:black;
}
.social
{
    margin-bottom:20px;
   text-align: left;
   display: inline-block;
   white-space: normal;
   vertical-align: top;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    width: calc(100% - 5rem);
}
.social a
{
    color:black;

}
.social a:hover
{
    color:#9c9c9c;
}
h3 {
   font-size: 150%;
   line-height: 1;
   color: rgba(51, 51, 51, 1);
   font-weight: 400;
   text-transform: lowercase;
}
.header 
{
    margin-left:1rem;
}